@media screen and (max-width: 2560px){
	h1{
		font-size: 40px;
	}
	.img{
		width:25%;
		float: left;

	}
	.table{
		float:left;
	}
}
@media screen and (max-device-width: 1080px){
	h1{
		text-align: center;
		font-size: 35px;
	}
	h2{
		text-align: center;
	}
	p{
		font-size: 30px;
	}
	a{
		font-size: 30px;
	}
	.img{
		float: none;
		width:25%;
		margin: auto;
	}
	.table{
		float:none;
		text-align: center;
		list-style-position: inside;
	}
}
@media screen and (max-device-width: 450px){
	h1{
		text-align: center;
		font-size: 25px;
	}
	h2{
		text-align: center;
		font-size: 15px;
	}
	.img{
		float: none;
		width:15%;
		margin: auto;
		}
	.table{
		float:none;
		text-align: center;
		list-style-position: inside;
	}
	p{
		font-size: 15px;
	}
	a{
		font-size: 12px;
	}
}
