@media screen and (max-width: 1980px){
	h1{
		font-size: 40px;
	}
	.img{
		width:25%;

	}
	p{
		font-size: 30px;
	}
	a{
		font-size: 25px;
	}
}
@media screen and (max-device-width: 450px){
	h1{
		font-size: 25px;
	}
	.img{
		width:10%;

	}
	p{
		font-size: 15px;
	}
	a{
		font-size: 12px;
	}
}
